h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 25px;
}

.container-xxl {

    padding: 60px;
    text-align: center;
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-size: 30px;

}


.container-xl{
    text-align: center;
}


.table-hover {
    > tbody > tr:hover {
        > td,
        > th {
        background-color: @table-bg-hover;
        }
    }
}

body{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin-top: 55px;
    margin-bottom: 55px;
}